<<<<<<< HEAD
=======
/* ==========================================================================
   helper classes
   ========================================================================== */
/* borders */
>>>>>>> 03fd64378f489952eea587e02b0c7a8900be2ecc
.trbl-borders {
  border: 1px solid #000;
  border-style: solid solid solid solid; }

.trl-borders {
  border: 1px solid #000;
  border-style: solid solid none; }

.rbl-borders {
  border: 1px solid #000;
  border-style: none solid solid; }

.lr-borders {
  border: 1px solid #000;
  border-style: none solid; }

.lrb-borders {
  border: 1px solid #000;
  border-style: none solid solid; }

.tb-borders {
  border: 1px solid #000;
  border-style: none solid; }
