/*
	--------------
	FONT REFERENCE
	--------------
*/
.site-fonts-family-for-reference{

    /* Arvo */
    font-family: 'Arvo', Georgia, Times, serif;

    /* PT Sans */
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;

}

body {
	    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}


/*
    -----------
    SANS SERIF
    -----------
*/
.sserif-light {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sserif-ultralight {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sserif-med {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sserif-regular {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sserif-bold {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sserif-bold-italic {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sserif-bold-condensed {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

/*
    -----------
    SERIF
    -----------
*/
.serif-semibold-italic {
    font-family: 'Arvo', Georgia, Times, serif;
}
.serif-italic {
    font-family: 'Arvo', Georgia, Times, serif;
}
.serif-regular {
    font-family: 'Arvo', Georgia, Times, serif;
}
.serif-medium {
    font-family: 'Arvo', Georgia, Times, serif;
}

