 /*
    -----------------
    TABLE OF CONTENTS
    -----------------

    - DISPLAY CLASS
    - INLINE MENUS
    - OVERFLOW HIDDEN
    - CURSORS
    - LINE HEIGHT
    - MIN HEIGHT
    - CSS TRANSITIONS
    - TEXT ALIGNMENT
    - TEXT COLOR
    - TEXT SHADOWS
    - ARROWS
    - ROUNDED BORDERS
    - BORDERS
    - GLOBAL SHADOWS
    - DROP SHADOWS
    - OVERFLOW HIDDEN
    - ARROWS
    - HTML5BP HELPERS 
*/
/*
    -------
    DISPLAY
    -------
*/
.hide {
  display: none; }

.show {
  display: block; }

.static {
  display: static; }

/* 
    ---------
    INLINE UL
    ---------
*/
.inline-menu {
  margin: 0;
  padding: 0; }

.inline-menu .li {
  float: left;
  display: block; }

/*
    ---------------
    OVERFLOW HIDDEN
    ---------------
*/
.o-hidden {
  overflow: hidden; }

/*
    -------
    CURSORS
    -------
*/
.pointer {
  cursor: pointer; }

.no-pointer {
  cursor: default !important; }

.pointer:hover {
  opacity: .7;
  filter: alpha(opacity=70); }

/*
    -----------
    LINE HEIGHT
    -----------
*/
.lhx5 {
  line-height: .5em; }

.lh1 {
  line-height: 1em; }

.lh1x2 {
  line-height: 1.2em; }

.lh1x5 {
  line-height: 1.5em; }

.lh2 {
  line-height: 2em; }

.lh2x5 {
  line-height: 2.5em; }

.lh3 {
  line-height: 3em; }

/*
    ----------
    MIN HEIGHT
    ----------
*/
.mh-10 {
  min-height: 10em !important; }

.mh-11 {
  min-height: 11em !important; }

.mh-12 {
  min-height: 12em !important; }

.mh-13 {
  min-height: 13em !important; }

.mh-14 {
  min-height: 14em !important; }

.mh-15 {
  min-height: 15em !important; }

.mh-16 {
  min-height: 16em !important; }

.mh-17 {
  min-height: 17em !important; }

.mh-18 {
  min-height: 18em !important; }

.mh-19 {
  min-height: 19em !important; }

.mh-20 {
  min-height: 19em !important; }

/*
    -----------
    TRANSITION
    -----------
*/
.transition, .transition * {
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  transition-duration: 350ms; }

.fast-transition, .fast-transition * {
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -ms-transition-duration: 150ms;
  transition-duration: 50ms; }

.no-transition, .no-transition * {
  -webkit-transition-duration: 0ms;
  -moz-transition-duration: 0ms;
  -o-transition-duration: 0ms;
  -ms-transition-duration: 0ms;
  transition-duration: 0ms; }

/*
    --------------
    TEXT ALIGNMENT
    --------------
*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/*
    -----------
    TEXT SHADOW
    -----------
*/
.bg-light.text-shadow, .bg-light-gradient.text-shadow {
  text-shadow: 0px 1px 1px #d0d0d0; }

.bg-solid.text-shadow, .bg-solid-gradient.text-shadow {
  text-shadow: 0px 1px 1px #413040;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); }

.bg-dark.text-shadow, .bg-dark-gradient.text-shadow {
  text-shadow: 0px 1px 1px #d0d0d0; }

/*
    ----------
    TEXT COLOR
    ----------
*/
.light.text {
  color: #ffffff; }

.solid.text {
  color: #15b4d3; }

.dark.text {
  color: #000000; }

/*
    ---------------
    ARROWS
    ---------------
*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black; }

/*
    --------------
    ROUNDED BORDERS
    --------------
*/
.rounded {
  /* useful if you don't want a bg color from leaking outside the border: */
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.xsmall.rounded {
  border-radius: 1px; }

.small.rounded {
  border-radius: 2px; }

.medium.rounded {
  border-radius: 3px; }

.large.rounded {
  border-radius: 4px; }

.xlarge.rounded {
  border-radius: 6px; }

.xxlarge.rounded {
  border-radius: 8px; }

/*
    -------
    BORDERS
    -------
*/
.bordered {
  border: 1px solid #d0d0d0; }

.bg-white.bordered, .bg-white-gradient.bordered {
  border: 1px solid #d0d0d0; }

.bg-light.bordered, .bg-light-gradient.bordered {
  border: 1px solid #d0d0d0; }

.bg-solid.bordered, .bg-solid-gradient.bordered {
  border: 1px solid #413040; }

.bg-dark.bordered, .bg-dark-gradient.bordered {
  border: 1px solid #413040; }

.trbl-borders {
  border: 1px solid #000;
  border-style: solid solid solid solid; }

.trl-borders {
  border: 1px solid #000;
  border-style: solid solid none; }

.rbl-borders {
  border: 1px solid #000;
  border-style: none solid solid; }

.lr-borders {
  border: 1px solid #000;
  border-style: none solid; }

.lrb-borders {
  border: 1px solid #000;
  border-style: none solid solid; }

.tb-borders {
  border: 1px solid #000;
  border-style: none solid; }

/*
    -------------
    GLOBAL SHADOW
    -------------
*/
.shadow {
  -moz-box-shadow: 0px 3px 10px #888;
  -webkit-box-shadow: 0px 3px 10px #888;
  box-shadow: 0px 3px 10px #888; }

/*
    ---------------
    DROP SHADOW
    ---------------
*/
.i-drop-shadow {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 3px rgba(0, 0, 0, 0.1); }

/*  ------------------------------
    htmlbp helpers
    ------------------------------ */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
