 /*
    -----------------
    TABLE OF CONTENTS
    -----------------

    - DISPLAY CLASS
    - INLINE MENUS
    - OVERFLOW HIDDEN
    - CURSORS
    - LINE HEIGHT
    - MIN HEIGHT
    - CSS TRANSITIONS
    - TEXT ALIGNMENT
    - TEXT COLOR
    - TEXT SHADOWS
    - ARROWS
    - ROUNDED BORDERS
    - BORDERS
    - GLOBAL SHADOWS
    - DROP SHADOWS
    - OVERFLOW HIDDEN
    - ARROWS
    - HTML5BP HELPERS 
*/




/* 
    ---------
    INLINE UL
    ---------
*/
.inline-menu {
    margin: 0;
    padding: 0;
}
.inline-menu .li {
    float: left;
    display: block;
}


/*
    -----------
    TEXT SHADOW
    -----------
*/
.bg-light.text-shadow, .bg-light-gradient.text-shadow {
    text-shadow: 0px 1px 1px #d0d0d0;
}
.bg-solid.text-shadow, .bg-solid-gradient.text-shadow {
    text-shadow: 0px 1px 1px #413040;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25)
}
.bg-dark.text-shadow, .bg-dark-gradient.text-shadow {
    text-shadow: 0px 1px 1px #d0d0d0;
}




/*
    ----------
    TEXT COLOR
    ----------
*/
.light.text {
    color: #ffffff;
}
.solid.text {
    color: #15b4d3;
}
.dark.text {
    color: #000000;
}


/*
    ---------------
    ARROWS
    ---------------
*/

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid black;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right:5px solid black; 
}




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


body {
}