/*
    ----------------------
    SOLID SITES BACKGROUND COLORS
    ----------------------
 */
.bg-facebook {
    background: $facebook;
}
.bg-foursquare {
    background: $foursquare;
}
.bg-google {
    background: $google;
}
.bg-instagram {
    background: $instagram;
}
.bg-linkedin {
    background: $linkedin;
}
.bg-tumblr {
    background: $tumblr;
}
.bg-twitter {
    background: $twitter;
}
.bg-vimeo {
    background: $vimeo;
}
.bg-youtube {
    background: $youtube;
}
/*
    ----------------------
    SOLID COLOR CHOICE
    ----------------------
*/
.bg-solid {
    background: $bgSolid;
    color: $invertedTextColor;
}
.bg-solidlight{
    background: $bgSolidLight; 
}
.bg-soliddark{
    background: $bgSolidDark;
}
.bg-solid-gradient {
    color: lighten($bgSolid, 55%);
    @include linear-gradient($bgSolid, darken($bgSolid, 15%));
}
/*
    ---------------
    BLACK AND WHITE
    ---------------
*/
.bg-black {
    background: $bgBlack;
    color: lighten($bgBlack, 35%);
}
.bg-white {
    background: $bgWhite !important;
    color: darken($bgWhite, 65%);
}
.bg-white-gradient {
    @include linear-gradient($bgWhite, darken($bgWhite, 15%));
}
.bg-black-gradient{
    @include linear-gradient($bgBlack, lighten($bgBlack, 15%));
}
/*
    ------------------
    GREY VALUES COLORS
    ------------------
*/
.bg-light {
    background: $lightColor;
    color: darken($lightColor, 80%);
}
.bg-grey {
    background: $bgGrey;
    color: darken($bgGrey, 80%);
}
.bg-greylight {
    background: $bgGreyLight;
    color: darken($bgGreyLight, 20%);
}
.bg-dark {
    background: $bgDark;
    color: lighten($bgDark, 30);
}
.bg-light-gradient {
    @include linear-gradient($bgWhite, darken($bgWhite, 15%));
}

.bg-dark-gradient {
    @include linear-gradient($bgBlack, lighten($bgBlack, 15%));
}
/*
    ----------------------
    SITE BACKGROUND COLORS
    ----------------------
 */
.bg-primary {
    background-color: $primaryColor !important;
    color: lighten($primaryColor, 35%);
}
.bg-secondary {
    background-color: $secondaryColor !important;
    color: lighten($secondaryColor, 35%);
}
.bg-default {
    background-color: $defaultColor !important;
    color: darken($defaultColor, 35%);
}
.bg-inverse {
    background-color: $inverseColor !important;
    color: darken($inverseColor, 35%);
}
/*
    ------------------------
    STATUS BACKGROUND COLORS
    ------------------------
*/
.bg-warning {
    background-color: $warningColor !important;
    color: lighten($warningColor, 35%);
}
.bg-danger {
    background-color: $dangerColor !important;
    color: lighten($dangerColor, 35%);
}
.bg-info {
    background-color: $infoColor !important;
    color: darken($infoColor, 35%);
}
.bg-disabled {
    background-color: $disabledColor !important;
    color: darken($disabledColor, 35%);
}
.bg-success {
    background-color: $successColor !important;
    color: darken($successColor, 35%);
}
