// ==========================================
// DEPENDENCIES
// ==========================================
// BOURBON: http://bourbon.io/
// ==========================================
@import 'bourbon/bourbon';





// ==========================================
// COLORS (SITE PALLETE)
// ==========================================
// SOCIAL PLATFORM COLORS
// SOCIAl COLOR CHOICES
// BLACK AND WHITE VALUES
// GREY COLORS
// SITE COLORS
// STATUS COLORS
// BACKGROUND COLORS
// ==========================================

//// SOCIAL COLOR DEFINITIONS
$facebook:          #3B5998;
$foursquare:        #8FD400;
$google:            #C63D2D;
$instagram:         #4E433C;
$linkedin:          #4875B4;
$tumblr:            #2B4964;
$twitter:           #33CCFF;
$vimeo:             #86B32D;
$youtube:           #FF3333;

//// DEFAULT COLOR
$solidColor:         #33C9FF;
$solidColorLight:    lighten($solidColor, 20%);
$solidColorDark:     darken($solidColor, 20%);

//// BLACK AND WHITE VALUES
$blackColor:        #000000;
$whiteColor:        #FFFFFF;

//// GREY COLOR
$lightColor:        darken($whiteColor, 7%);
$darkColor:         lighten($blackColor, 10%);
$greyColor:         mix($lightColor, $darkColor, 50%);

//// STATUS COLORS
$dangerColor:       #F6656B;
$warningColor:      #CC333F;
$successColor:      #4DAA57;
$infoColor:         #C7F464;
$disabledColor:     #F0F0F0;

//// BACKGROUND COLORS
$bgSolid:            $solidColor;
$bgSolidLight:       $solidColorLight;
$bgSolidDark:        $solidColorDark;
$bgLight:            $lightColor;
$bgDark:             $darkColor;
$bgWhite:            $whiteColor;
$bgBlack:            $blackColor;
$bgGrey:             $greyColor;
$bgGreyLight:        darken($lightColor, 5%);

//// SITE COLORS
$primaryColor:      $solidColor;
$secondaryColor:    #363636;
$defaultColor:      #FFD101;
$inverseColor:      lighten($primaryColor, 30%);

//// TEXT COLORS
$textColor:         #000000;
$invertedTextColor: invert($textColor);


// ==========================================
// BACKGROUND COLORS FOR SITE LAYOUT ELEMENTS
// ==========================================
// BGCOLOR FOR HEADER
// BGCOLOR FOR NAV
// ==========================================
$bgHeader:          $primaryColor;
$bgNav:             $secondaryColor;
$bgFooter:          $primaryColor;
$bgModalBkg:        rgba($blackColor, .8);


// ==========================================
// SITE DIMENTSIONS
// ==========================================
// ==========================================
$wheader:           1280px;
$wNav:              1280px;
$wFooter:           1280px;



// ==========================================
// FONTSIZE AND FONT FAMILYS
// ==========================================
// SAN SERIF
// SERIF
// ==========================================

//// FONT SIZES
$fontsize-xsmall:          0.65em;
$fontsize-small:           0.86em;
$fontsize-medium:          1.0em;
$fontsize-large:           1.3em;
$fontsize-xlarge:          1.65em;
$fontsize-xxlarge:         2.1em;

//// CTA BUTTON SIZES
$width-xsmall:             80px;
$width-small:              120px;
$width-medium:             160px;
$width-large:              280px;
$width-xlarge:             300px;
$width-xxlarge:            340px;

$width-xsmall:             0px;
$width-small:              0px;
$width-medium:             0px;
$width-large:              0px;
$width-xlarge:             0px;
$width-xxlarge:            0px;

//// SITE FONTS ::  SAN-SERIF
$san-serif:                    'Ubuntu', Helvetica, Arial, sans-serif;
$san-serif-italic:             $san-serif;                                 
$san-serif-light:              $san-serif;
$san-serif-ultralight:         $san-serif;
$san-serif-medium:             $san-serif;
$san-serif-regular:            $san-serif;
$san-serif-bold:               $san-serif;
$san-serif-bold-italic:        $san-serif;
$san-serif-bold-condensed:     $san-serif;

//// SITE FONTS ::  SERIF
$serif:                    'Cabin', sans-serif;
$serif-italic:             $serif;
$serif-light:              $serif;
$serif-ultralight:         $serif;
$serif-medium:             $serif;
$serif-regular:            $serif;
$serif-bold:               $serif;
$serif-bold-italic:        $serif;
$serif-bold-condensed:     $serif;


                                              @mixin mainBlock() {
                                                width: 100%;
                                              }

                                              @mixin setPosition( $position: left ){
                                                @if $position == center {
                                                  margin: 0 auto;
                                                } @else if $position == left {
                                                  margin: 0 auto 0 0;
                                                } @else if $position == right {
                                                  margin: 0 0 0 auto;
                                                } @else {
                                                  margin: 0 auto;
                                                }
                                              }

                                              @mixin blockWidth( $width) {
                                                width: auto;
                                                max-width: $width;
                                                @include setPosition( center );
                                              }

                                              @function setAsideWidth( $contentWidth, $mainWidth) {
                                                @return $contentWidth - $mainWidth;
                                              }


                                            

//// SITE DIMENSION 
$site-width: 920px;

//// BLOCK BOX PADDING 
$tb-box-padding: 1em;
$rl-box-padding: 1em;
$t-box-pad:      1em;
$b-box-pad:      1em;
$r-box-pad:      1em;
$l-box-pad:      1em;
$box-pad: $t-box-pad $r-box-pad $b-box-pad $l-box-pad;


//// BLOCK BOX MARGIN 
$tb-box-margin: 1em;
$rl-box-margin: 0em;
$t-box-mar: 1em;
$b-box-mar: 1em;
$r-box-mar: 1em;
$l-box-mar: 1em;
$box-mar: $t-box-mar $r-box-mar $b-box-mar $l-box-mar;           


$input-text-margin: 0em;


// header style
$bstyle: 'bp';  // flush || bp || flushDotted || flushSolid

// cta button style
$cta-style : 'outline';
            



// ==========================================
// RESPONSIVE SETUP
// ==========================================
// MEDIAQUERIES
// HELPERS
// ==========================================
@import "./mediaqueries/__mediaqueries.scss";  // Media Queries
@import "./__helpers.scss";





// ==========================================
// SITE SPECIFIC STYLING 
// ==========================================
// SELECTION HIGHLIGHT
// ==========================================

//// SET SELECTION HIGH LIGHT COLOR
$selection-highlight-color: #f0f0f0;
::selection {
  background: $selection-highlight-color !important;
}
::-moz-selection {
  background: $selection-highlight-color !important;
}
::-webkit-selection {
  background: $selection-highlight-color !important;
}




// ==========================================
// Media Queriers
// ==========================================
// 320: Smartphone Portrait
// 480: Smartphone Landscape
// 640 or 768 ???: IPad Portrait ???
// 960: IPad Landscape / Small Laptop ???
// 1024: Desktop and Laptop
// 1280: Wide Screen
// ==========================================
@import "style-320.scss";
@import "style-480.scss";
@import "style-640.scss";
	@import "style-720.scss";
@import "style-768.scss";
@import "style-960.scss";
@import "style-1024.scss";
	@import "style-1080.scss";
@import "style-1280.scss";





// ==========================================
// Exceptions 
// Print stylesheets + IE bullshit
// ==========================================
@import "./exceptions/__exceptions.scss";
