//// ele :: banner ( they server as style headings )
@mixin bannerStyle( $style: 'flushed', $multiplier: 1 ){

    @if $style == 'flush' {
        background: $primaryColor;
        color: #fff;
        margin: $box-mar;
        left: -$l-box-pad;
        padding: $box-pad;
    } @else if $style == 'bp' {
        background: $primaryColor;
        color: #fff;
        margin: 0 0 $r-box-mar 0;
        padding: $t-box-pad 0 $b-box-pad 0;
        text-indent: $l-box-pad;
    } @else if $style == 'flushDotted' {
        background: transparent;
        border-bottom: 1px dotted $primaryColor;
        color: $primaryColor;
        margin: -$t-box-pad 0 $b-box-pad 0;
        left: -$l-box-pad;
        padding: $t-box-pad $r-box-pad $b-box-pad $l-box-pad;
    } @else if $style == 'flushSolid' {
        background: transparent;
        border-bottom: 1px solid $primaryColor;
        color: $primaryColor;
        margin: -$t-box-pad 0 $b-box-pad 0;
        left: -$l-box-pad;
        padding: ($t-box-pad * $multiplider) $r-box-pad ($b-box-pad * $multiplier) $l-box-pad;
    } 
    @else {
        margin: 0 0 $r-box-mar 0;
    }
}



.banner {
    @include bannerStyle($bstyle, 1);
    position: relative;
    width: 100%;
}
