/*
    DEFAULT INPUT STYLES
 */
input {
    padding: 0px;
    border: 0px;
    width: 100%;
    margin: 0px;
    background: transparent;
    padding: .25em 0;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none !important;
}
input[type=text]:focus, textarea:focus {
  box-shadow: inset 0 0 0px rgba(81, 203, 238, 1);
}

input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none !important;
}

button {
  border: 0px;
}



/*
  ==================
  INPUT TEXT
  ==================
*/
.input-text-wrap {
  background: $bgGreyLight;
  color: invert($bgGreyLight) !important;
  padding: 10px;
  margin: $input-text-margin;
  position: relative;
  border-bottom: 1px dotted #c0c0c0;
  
  // LABEL SETTINGS
  label {
      font-size: inherit;
      position: absolute;
      line-height: 1.5em;
      
    // PROMPTER LABELS
    &.prompter {
      font-size: inherit;
      line-height: inherit;
      position: relative;

      span {
        font-size: 10px;
        display: inline-block;
      }
    }

    .prompt {
      opacity: 0;
      filter: alpha(opacity=0);

    }

    
  }    
  
  // ICON COLORS
  i {
    color: $secondaryColor;
  }

  // BUTTON STYLES
  & button {
    position: absolute;
    background: transparent;
    display: block;
    right: 0;
    top: 0;
    font-size: 1em;
    padding: .875em 0;
    background: $bgSolid;
    width: 5%;
    min-width: 50px;
    text-align: center;

    i {
      background: transparent;
      color: #fff;
    }
  }


  // TEXTAREA
  textarea {
    border: 0px;
    width: 100%;
    padding: 0px;
    line-height: 1.5em;
    height: 1.5em * 7;
    background: transparent;
  }



  // SIMULATED FOCUSED STATE APPLIED AS A CLASS
  &.focused {
    box-shadow: inset 3px 0px 0px $secondaryColor;
    
    & .prompt {
      display: inline;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    & .default {
      display: none;
      opacity: 0;
    }

    & label i {
      color: $primaryColor;
    }

  }


  & button:hover {
    opacity: .5;
    
    i {
      color: $solidColorDark;
    }

  }

  & button:focus {
    i {
      color: $solidColorDark;
    }
  }


  // STATUS ICONS
  .statusicon {
    background: transparent;
    font-size: 1em;
    min-width: 50px;
    padding: .875em 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 5%;
    
    i {
      background: transparent;
      color: $primaryColor;
    }
  }  



  // SLIM INPUT ( ICON ON THE LEFT )
  &.with-icon {
    input {
      text-indent: 1.5em;
    }
  }



  // SLIM INPUT ( LABEL ON OUTSIDE )
  &.slim-aligned {
    width: 60%;
    margin-left: 36%;    

    & label {
      left: -56%;
      width: 46%;
      padding: 15px;
      margin-top: -10px;
      line-height: 1em;
      text-align: right;
    }

    & button {
        width: 18%;
        right: -19%;
        position: absolute;
        margin-left: 20px;
    }


  }

}

.input-checkbox-wrap {
    width: 100%
}
.input-checkbox-wrap input[type="checkbox"] {
    float: left;
    width: auto;
    display: none;
}
.input-checkbox-wrap {
    float: left;
    display: block;
}
.input-checkbox-wrap label {
    float: left;
}
.input-checkbox-wrap i {
    margin-right: 5px;
}
.input-checkbox-wrap:hover * {
    cursor: pointer;
}

.switchessamples > div {
    width: 200px;
}
.input-checkbox-wrap input[type="checkbox"] {
    float: left;
    width: auto;
    display: none;
}
.input-checkbox-wrap {
    float: left;
    display: block;
    cursor: pointer;
}
.input-checkbox-wrap  * {
    cursor: pointer;
}
.input-checkbox-wrap label {
    float: left;
}
.input-checkbox-wrap i {
    margin-right: 5px;
}
.input-checkbox-wrap:hover * {
    cursor: pointer;
}

.switch-animate {
    position: relative;
    width: 125px;
    

    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}

.switch-on {
    left: 0%;
    top: 0;
}

.switch-off {
    left: -74%;
    top: 0;
}

.switch {
    float: left;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    background: #f0f0f0;
    padding: 3px 9px;
    width: 50px;
    cursor: pointer;
}

.switch input  {
    display: none;
}

.switch span {
    float: left;
    display: block;
    cursor: pointer;
    text-align: center;
    

}

.switch label {
    width: 35px;
    display: block;
    float: left;
    cursor: pointer;
    text-align: center;
    
}

.input-switch-wrap .text {
    padding: 3px 6px;
    float: left;
}

.radiosamples > div {
    width: 100%;
}
.input-radio-wrap input[type="radio"] {
    float: left;
    width: auto;
    display: none;
}
.input-radio-wrap {
    float: left;
    display: block;
}
.input-radio-wrap label {
    float: left;
}
.input-radio-wrap i {
    margin-right: 5px;
}
.input-radio-wrap:hover * {
    cursor: pointer;
}

.form-signin-heading {
  padding: 0 0 $tb-box-padding 0;
}